/*----------pages----------*/
.share_style{
	font-size:12px;
	font-family:"宋体";
}
.share_style img{
	vertical-align:middle;
}
.share_style em,.share_style i{
	font-style:normal;
}
.share_style strong,.share_style b,.share_style h1,.share_style h2,.share_style h3{
	font-weight:normal;
	font-size:12px;
}
.share_style a:hover{
	text-decoration:none;
}
.share_style .last{
	border:none;
	background:none;
}
.index_bg{
	background:url(../img/bg_body.jpg) no-repeat;
	background-size:100% 100%;
}
.head_index{
	width:960px;
	margin:0 auto;
}
.banner_head{
	width:100%;
	height:180px;
	background:url(../img/head_bg.png) no-repeat;
	padding-top:10px;
}
.banner_head .ban_l{
	font-family:"隶书","微软雅黑";
	color: #405A00;
	pointer-events: none;
	font-size: 36px;
	float:left;
	margin-left:5px;
}
.banner_head .date_head{
	float:right;
	margin-right:20px;
}
.head_menu{
	height:30px;
	width:100%;
	background:url(../img/menu_bg.jpg) repeat-x;
	line-height:30px;
}
.head_menu ul{
	height:30px;
	width:100%;
}
.head_menu ul li{
	float:left;
	background:url(../img/icon_001.jpg) left top no-repeat;
}
.head_menu ul li a{
	float:left;
	width:90px;
	text-align:center;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}
.head_menu ul li a:hover,.head_menu ul li a.cur{
	background:url(../img/icon_002.jpg) repeat-x;
}
.index_content1{
	width:960px;
	margin:0 auto;
}
.con_left_b{
	float:left;
	width:210px;
}
.con_right_b{
	float:left;
}
.left_line_px1{
	height:200px;
}
.px_l_share{
	width:210px;
}
.px_l_share h3{
	height:25px;
	line-height:25px;
	background:url(../img/menu_bg.jpg) left center repeat-x;
	width:100%;
	color:#fff;
}
.px_l_share h3 i{
	float:left;
	padding-left:8px;
	font-weight:bold;
	font-size:13px;
}
.px_l_share h3 b{
	float:right;
	padding-right:15px;
}
.px_l_share h3 b a{
	color:#fff;
}
.px_con{
	width:208px;
	border:solid 1px #eeeeee;
	border-top:none;
	background:#fff;
	height:174px;
}
.px_con ul{
	float:left;
	margin:10px 8px 0;
	display:inline;
}
.px_con ul li{
	float:left;
	width:100%;
	line-height:30px;
	height:30px;
	background:url(../img/icon_003.jpg) left bottom repeat-x;
}
.px_con ul li a{
	float:left;
	width:100%;
	color:#333;
}
.px_con ul li a:hover{
	background:#cbdee0;
}
.px_con ul li a i{
	float:left;
	padding-left:5px;
}
.px_con ul li a b{
	float:right;
	padding-right:5px;
}
.px_con1{
	width:208px;
	border:solid 1px #eeeeee;
	border-top:none;
	background:#fff;
	height:174px;
}
.px_con1 input.box{
	display:block;
	width:154px;
	border:solid 1px #e9e9e9;
	margin:0 auto;
	background:#f7f7f7 url(../img/icon_004.jpg) left center no-repeat;
	padding-left:26px;
	height:32px;
	margin-bottom:5px;
	line-height:32px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#666;
}
.px_con1 input.password{
	background:#f7f7f7 url(../img/icon_005.jpg) left center no-repeat;
}
.px_con1 input.text{
	background:#f7f7f7 url(../img/icon_004.jpg) left center no-repeat;
}
.px_con1 input.sub{
	width:182px;
	display:block;
	height:44px;
	margin:0 auto;
	border:none;
	background:#8e8e8e;
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
.px_con3{
	height:464px;
	background:#fff;
	width:208px;
	border:solid 1px #eeeeee;
	border-top:none;
}
.px_con3 ul{
}
.px_con3 ul li a{
	color:#333;
	margin-left:8px;
	line-height:20px;
	display:inline-block;
	text-decoration:underline;
}
.right_line_px1{
	height:200px;
	width:740px;
	margin-left:10px;
}
.right_line_px1 .box1{
	float:left;
	height:198px;
	width:358px;
	padding:1px;
	background:#fff url(../img/bg_003.png) no-repeat;
}
.right_line_px1 .line1_l{
	margin-right:20px;
}
.right_line_px1 .line1_r{
}
.line1_l h3{
	height:34px;
	line-height:34px;
}
.line1_l h3 span{
	float:left;
	padding:0 3px;
	border-bottom:solid 2px #0549a5;
	color:#333;
	font-family:"微软雅黑";
	text-indent:5px;
}
.line1_r h3{
	height:34px;
	line-height:34px;
}
.line1_r h3 span{
	float:left;
	padding:0 3px;
	border-bottom:solid 2px #ff680b;
	color:#333;
	font-family:"微软雅黑";
	text-indent:5px;
}
.line1_r h3 a{
	float:right;
	font-size:10px;
	color:#fff;
	background:#ff6710;
	width:44px;
	height:12px;
	margin:10px 15px 0 0;
	line-height:12px;
	text-align:center;
	font-family:"微软雅黑";
}
.line1_r ul{
	float:left;
	margin:5px 5px 0;
	display:inline;
}
.line1_r ul li{
	float:left;
	width:100%;
	line-height:30px;
	height:30px;
	background:url(../img/icon_003.jpg) left bottom repeat-x;
}
.line1_r ul li a{
	float:left;
	width:100%;
	color:#333;
	font-family:"微软雅黑";
}
.line1_r ul li a:hover{
	background:#FF6710;
	color:#fff;
}
.line1_r ul li a i{
	float:left;
	padding-left:5px;
}
.line1_r ul li a b{
	float:right;
	padding-right:5px;
}
.right_line_px2{
	margin-left:10px;
	background:#fff;
	height:200px;
}
.right_line_px2 h3{
	height:34px;
	line-height:34px;
}
.right_line_px2 h3 span{
	float:left;
	padding:0 3px;
	border-bottom:solid 2px #218100;
	color:#333;
	font-family:"微软雅黑";
	text-indent:5px;
}
.right_line_px3{
	margin-left:10px;
	background:#fff;
	height:490px;
}
.right_line_px3 h3{
	height:34px;
	line-height:34px;
}
.right_line_px3 h3 span{
	float:left;
	padding:0 3px;
	border-bottom:solid 2px #aa0004;
	color:#333;
	font-family:"微软雅黑";
	text-indent:5px;
}
.right_line_px3 .map{
	width:700px;
	height:454px;
	margin:0 auto;
}
.con_left_er{
	float:left;
	width:210px;
}
.px_con_er{
	width:190px;
	border:solid 1px #eeeeee;
	border-top:none;
	background:#fff;
	padding:10px 9px;
}
.px_con_er ul li{
	float:left;
	width:100%;
	line-height:24px;
	padding:3px 0;
	height:24px;
	background:url(../img/icon_003.jpg) left bottom repeat-x;
}
.px_con_er ul li a{
	float:left;
	width:100%;
	color:#333;
	text-indent:5px;
	line-height:24px;
}
.px_con_er ul li a:hover{
	background:#cbdee0;
}
.con_right_er{
	float:left;
	width:740px;
	margin-left:10px;
}
.con_right_er h3{
	height:34px;
	line-height:34px;
	background:url(../img/icon_007.jpg) left bottom repeat-x;
	font-weight:bold;
}
.r_con_px{
}
.r_con_px p{
	font-family:"仿宋";
	font-size:22px;
	color:#768484;
	line-height:40px;
}
.r_con_px p.dan{
	text-indent:2em;
}
.r_con_px p span{
	float:right;
	width:380px;
	text-align:center;
}
.foot_con{
	height:100px;
	width:100%;
	min-width:960px;
	background:#ebebeb;
}
.foot_con p{
	text-align:center;
}
.foot_px1{
	text-align:center;
}
.foot_px1 a{
	display:inline-block;
	color:#333;
	font-size:12px;
	text-decoration:underline;
}

/*----------custom----------*/
.box_swf{
	width:350px;
	margin:7px auto 0;
	height:150px;
}
.product_img{
	height:120px;
	width:720px;
	margin:0 auto;
}
.product_img img{
	width:160px;
	height:120px;
}










