body{
	font-family: 宋体;
}
input,
select,
textarea{
	font-family: 宋体;
}
.wrap{
	width: 100%;
	margin: 0 auto;
	position: relative;
}










/*----------header----------*/
.header{

}










/*----------mainer----------*/
.mainer{

}










/*----------footer----------*/
.footer{

}










/*----------custom----------*/